streamlit==1.32.0
crewai==0.16.0
crewai-tools==0.0.14
python-dotenv==1.0.1
langchain==0.1.12
langchain-community==0.0.28
langchain-core==0.1.32
langchain-groq==0.0.1
python-docx==1.1.0
pydantic==2.6.4
PyPDF2==3.0.1
docx2txt==0.8
Pillow==10.2.0
networkx==3.1
matplotlib==3.7.1
google-search-results==2.4.2
chromadb
embedchain
pysqlite3
pip install --upgrade pip
